body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100dvh;
    background-color: hsla(0, 0%, 14%, 0.283);
    background-color: rgb(199, 154, 70);
}
#calculator{
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    max-width: 1000px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    background-color: rgb(237, 234, 234);
}
#keys{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 10px;
    padding: 25px;

}
button{
    width: 200px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: gray;
    color: wheat;
    font-weight: bold;
    font-size: 3rem;
    cursor: pointer;
}
button:hover {
    background-color: rgb(25, 24, 22);
}
button:active{
    background-color: rgb(224, 223, 222);
}
.operator-btn{
    background-color: orange;
}
.operator-btn:hover{
    background-color: rgb(154, 125, 45);
}
.workInProgress{
    background-color: grey;
    width: 295%;
}
