 /* this is code decorate that colored the whole body  */
body{
    background-color: rgb(248, 247, 246);
    padding: 0;
    margin: 0;
}
/* this code design header list to be inline */
header li{
    text-decoration: none;
    display: inline;
    float: right;
    margin-top: 20px;
    padding: 0 20px;
    padding-bottom: 0px;
    border: 0px;
}

/* this is the code that indicate the currrent cursor touch by showing color over it */
header a:hover{
    text-decoration: none;
    text-transform:none;
    font-size: bold;
    color: red;
}
.button{
    display: flex;
    float: left ;
    border: none;
    height: 35px;
    font-size: medium;  
    margin: 10px;
    /* justify-content: center;                 */
    /* width: 30x; */
}
.containercenter-button{
    text-align: center;
    display: flex;
    text-align: center;
    padding: 10px 20px;
    /* font-size: 16px;
    color: white;
    background-color: #007bff;
    /* Blue background */
    /* border: none;
    border-radius: 5px;
    cursor: pointer; */
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    /* Subtle shadow */
    transition: background-color 0.3s ease;
} */
header {
    padding-top: 10px;
    min-height: 50px;
}
header a{
    text-decoration: none;
}

.container{
    width: 90%;
    margin: auto;
    overflow:auto;
}
.containers{
    display: flex;
    align-items: center; 
    justify-content: space-between;
}
.containeralign{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.containerthreeimage{
    align-items: center;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    flex-wrap: wrap;
}

.containerthreeimage h3{
    text-align: center;
    gap: 30px;
    word-spacing: 20px;
}

.navs{
    text-align:center;
    /* gap: ; */
}
.containerright{
    text-decoration: none;
    margin: 10px;
}
.containercenter{
    text-align: center;
}
.button-containercenter{
    display:flexbox;
    text-align: center;
    /* opacity: 50px; */
}
.coverall input{
    border-radius:0% ;
}


header ol{
    float: left;
    margin-bottom: 20px;
    padding-top: 0px;
}

.coverall{
    display:flex;
    gap: 80px;
    text-decoration: none;
    text-align: center;
    overflow: auto;
    margin: auto;
    width: 1000px;
    border-radius: 0px;
    align-items: center;
    display: flexbox;
}
.coverall h3{
    text-align: center;
}
.coverall input{
    text-align: center;
    gap: 100px;
}
.button-container{
    display:flex;
    align-items: center;
    padding: 8px;
    font-size: 12px;
    opacity:50px ;
    text-decoration: none;
} 

.containerbox{
    background-color: red;
    display: flex;
    /* padding-top: 50px; */
    padding: 50px;
}
.svg-containerbox{
    padding-top: 60px;
    padding-bottom: 50px;
}
.containerRed{
    background-color: red;
    margin-top: 40px;
    padding: 80px;
    padding-left: 50px;
    padding-right: 50px;
}
input{
    opacity: 50px;
    border: 0px;
    background-color: white;
}


